*~
.DS_Store
.lein-deps-sum
.lein-repl-history
.nrepl-port
/pom.xml
/pom.xml.asc
/clojush*.jar
classes/
target/
results/
.classpath
.project
.settings/ccw.repl.cmdhistory.prefs
/data/
logs/
lib/
/bin
*.csv
*.json
.lein-failures
doc/
cov/*
out
.idea
clojush.iml
