# Clojure / leiningen files
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lein-project-checksum

# Editor and backup files
*~
.idea
.gorilla-port
.ipynb_checkpoints/
.calva/
.clj-kondo/
.lsp

# OS Files
.DS_Store

# Results and data directories
results/
/data/
logs/

# Unknown / Other
.classpath
.project
.settings/ccw.repl.cmdhistory.prefs
/bin
doc/
cov/*
out
clojush.iml
/clojush/
scratch.clj
