sudo: false
language: clojure
script:
  # check fails because of "Duplicate Push instruction defined:boolean_and"
  # - lein check
  - lein test
after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && ./deploy-docs.sh

notifications:
  email: false
