;; see the sample file jmh.edn for more examples:
;; https://github.com/jgpc42/jmh-clojure/blob/master/resources/sample.jmh.edn
;; also refer to the Java example files for more documentation
;; http://hg.openjdk.java.net/code-tools/jmh/file/default/jmh-samples/src/main/java/org/openjdk/jmh/samples/


{:benchmarks
 [{:name :process-generation
   :fn clojush.bench.helpers/process-generation-deserialize
   :args [:state/process-generation-input]
   :apply true
   :options [{:mode :single-shot
              :measurement 5
              :warmup 5
              :threads 1
              :fork 1
              :output-time-unit :s}]}
  {:name :eval-push
   :fn clojush.interpreter/eval-push
   :args [:state/eval-push-input]
   :apply true
   :options [{:mode :single-shot
              :measurement
              {:count 100
               :iterations 50}
              :warmup
              {:count 100
               :iterations 50}
              :threads 20
              :fork 1
              :output-time-unit :ms}]}]

 :states
 {:process-generation-input
  {:scope :benchmark
   :trial {:fn clojush.bench.helpers/->process-generation-input
           :args [:param/process-generation-input-id]}}
  :eval-push-input
  {:scope :benchmark
   :trial {:fn clojush.bench.helpers/->eval-push-input
           :args [:param/eval-push-input-id]}}}
 :params
 {:eval-push-input-id
  ["135-341a1d39-1ca0-427a-aced-cb656155f37a"
   "28-f1c99415-90ee-4b77-aa79-0a7c87162c8c"
   "90-3600fd56-f5cf-4459-a223-d70610407497"
   "147-f3297452-941c-41eb-9544-6bcbb979c59a"
   "41-6613395f-87ce-49bb-b4e0-8d4027ddfe12"]
   ;"f6f3ceba-0c8d-4d21-8f99-5b2b0dcc1cee-new"]
  :process-generation-input-id
  ["472eb4cc-3037-459a-a8e3-cd08e9cf58cb-new"
   "6eae1319-2cd6-4075-991b-b817b872acce-new"
   "712d841f-6467-49aa-8728-f39a47b23818-new"]}}
   ;"7a638739-8f7b-4509-908e-7da53b12a482-new"
   ;"87dfecef-82a6-4008-8835-3a8d5058feba-new"
   ;"892336be-dd16-4e2f-a382-9cf3bc46dd5d-new"
   ;"8fcb4fa7-ad2c-4f8f-99a6-3d612ff42dc0-new"
   ;"9fb4a24d-40cc-40ad-8727-6dd2251f8e24-new"
   ;"aa8cfe57-a64e-4bc1-ba2d-14ae0da75458-new"
   ;"bf47455e-c0ca-4c61-b280-ac57ec91a561-new"
   ;"c3885c9a-c3e0-4207-a000-09871358caa5-new"
   ;"c676a3db-5440-4da5-ad7f-09ebf5df4408-new"
   ;"d30253ad-ca3b-4763-bd75-158ccb9c5664-new"
   ;"d8b7b860-8c03-4444-a81a-54ddf79bee05-new"
   ;"e57f1635-e0ed-4e00-ad32-0592a6d34614-new"
   ;"f885ed46-d021-4dd2-8bd0-57416f84025d-new"
   ;"ff4b8b91-3b66-43dd-bb4d-b1a293f5d837-new"]}}
